.manual {
  &_form {
    @apply py-10 px-12 mt-10;
  }
}
.form {
  @apply max-w-lg;
  &_note {
    @apply text-gray200 mb-20;
  }
  &_input {
    @apply w-full relative mb-10;
    input {
      @apply w-full block rounded border border-[#144264] h-12 px-4;
    }
    textarea {
      @apply w-full block rounded border border-[#144264] px-4 py-4;
    }
    .memory-track {
      @apply h-72 mb-24;
      label {
        @apply absolute text-sm left-10 -top-2.5 bg-white text-[#144264] px-3;
      }
    }
    label {
      @apply absolute text-sm left-10 -top-2.5 bg-white text-[#144264] px-3;
    }
  }
  &_btn {
    @apply bg-red200 hover:bg-red text-white w-full mt-5 rounded block ml-auto h-14;
  }
  .file_input {
    @apply relative h-20 flex items-center mb-10 px-4 border border-[#144264] rounded;
    label {
      @apply absolute text-sm left-10 -top-2.5 px-3 text-[#144264] bg-white;
    }
  }
  .add_text {
    @apply flex items-center justify-center bg-[#E7F5FF] mb-10 gap-2.5 h-9 w-36 rounded;
  }
}

.ql-toolbar.ql-snow,
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote {
  font-family: "Apercu" !important;
}

.ql-font span[data-label="Apercu"]::before {
  font-family: "Apercu";
}
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  font-family: "Clearface" !important;
}
.ql-editor {
  @apply text-base;
}
.manual_body {
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    @apply h-[38.375rem] block;
  }
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  @apply rounded-b border-[#144264] mb-10;
}
.ql-toolbar.ql-snow {
  @apply rounded-t;
  border-color: #144264 !important;
  padding: 14px 8px !important;
}
